<section class="blog">
  <div class="blog__container">
    {% paginate blog.articles by 6 %}
      {% for article in blog.articles %}
        <a href="{{ article.url }}" class="blog__article blog__article-{{- forloop.index -}}">
          <div class="blog__article-image-container">
            <img src="{{ article.image | image_url }}" alt="{{ article.image.alt }}" class="blog__article-image">
          </div>
          <div class="blog__article-details">
            <div class="blog__article-title">
              {{ article.title | strip_html | truncatewords: 15 }}
            </div>
            <div class="blog__article-date">
              {{ article.published_at | date: '%B %d, %Y' }}
            </div>
            <div class="blog__article-para">
              {{ article.excerpt_or_content | strip_html | truncatewords: 20 }}
            </div>
          </div>
        </a>
      {% endfor %}
    {% endpaginate %}
  </div>
</section>

{% schema %}
{
  "name": "Blog",
  "class": "section-blog",
  "settings": [],
  "presets": [
    {
      "name": "Blog"
    }
  ]
}
{% endschema %}
